body{
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 50px;
}
.name-color{
    color: blue;
}
.half{
    width: 45%;
    float: left;
    margin: 5px;
    padding-left: 2%;
}
img{
    height: 350px;
    width: 350px;
}
